<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/c1.css') }}">

</head>
<body>
     <table>
    
    {% for i in range(1,11) %}

    <tr>
        <td>{{ i }}</td>
        <td>x</td>
        <td>{{ na }}</td>
        <td> = </td>
        <td>{{ na*i }}</td>
    </tr>  
    {% endfor %}  

    </table>
</body>
</html>