<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="">Enter ur name</label>
        <input type="text" name="fname"><br>

        <label for="">Enter ur number</label>
        <input type="number" name="nm"><br>

        
        <label for="">Enter ur email</label>
        <input type="email" name="em"><br>

        <input type="submit" value="save">
    </form>
</body>
</html>