<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>UPDATE PAGE</h1>
    <form action="" method="post">
        <label for="">Enter ur name</label>
        <input type="text" name="name" value="{{ data.name }}" id=""><br>

        <label for="">Enter ur number</label>
        <input type="number" name="number" value="{{ data.number }}" id=""><br>

        
        <label for="">Enter ur email</label>
        <input type="email" name="em" value="{{ data.email }}"id=""><br>

        <input type="submit" value="UPDATE" id="">

        
    </form>
</body>
</html>